<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pagetitle}}</title>
</head>
<body>
    {{>header}}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, incidunt, consequuntur asperiores sed eius rem nobis sapiente, fugit esse quod culpa a repudiandae vitae? Quibusdam consequuntur ipsam repudiandae rem eveniet.</p>

{{>footer}}
</body>
</html>